.movie-edit {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
    float: left;
  }
  .labels-edit{
      float: left;
  }
  .button-edit {
    background-color:darksalmon;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }