<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="grid-container">
  <div class="item1">
  <div *ngIf="isAuthenticated; then doSomething; else doSomethingElse;"></div>
    <ng-template #doSomething>
        
        <div>
          <label>Logged User : <em>{{user.email}}!</em></label>
            <a class="logoutBtn" (click)="logOut()">Log out</a>
        </div>
    </ng-template>
    <ng-template #doSomethingElse>
      <a class="home" routerLink="/movie">Movie</a>
      <a class="registration" routerLink="/sign-up">Register</a>
      <a class="login" routerLink="/log-in">Login</a>   
    </ng-template>
  
</div>
</div>
</body>
</html>

