
      <!-- <div *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div> -->
  <div class="login">
    <h2 class="login-header">Log in</h2>
    <form class="login-container" (ngSubmit)="onSubmit()" ngNativeValidate>
      <p>
          <input [(ngModel)]="user.email"
          name="email"
          type="email"
          required
          id="email"
          placeholder="Email">
        </p>
      <p>
          <input  [(ngModel)]="user.password"
          name="password"
          type="password"
          required
          id="password"
          placeholder="Password"></p>
      <p><input type="submit" value="Log in"></p>
      <a [routerLink]="['/home']" >Cancel</a>
    </form>
    <p>
        <span>Don't have an account?&nbsp;</span>
        <a [routerLink]="['/sign-up']">Sign up!</a>
      </p>
  </div>


  <!-- <a [routerLink]="['/']" class="btn btn-success">Cancel</a> -->