
      <!-- <div *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div> -->
     



  <div class="login">
    <h2 class="login-header">Registration</h2>
    <form class="login-container" (ngSubmit)="onSubmit()" ngNativeValidate>
      <p>
          <input 
          [(ngModel)]="user.email"
            name="email"
            type="email"
            required
            placeholder="Email"
            class="form-control"
            id="email">
        </p>
      <p>
          <input [(ngModel)]="user.password"
          name="password"
          type="password"
          required
          class="form-control"
          id="password" placeholder="Password"></p>
      <button type="submit" class="button-signup" tabindex="0" aria-label="Save the Registration and redirect to movies">SignUp</button>&nbsp;
      <!-- <button type="submit">Submit</button> -->
      <a [routerLink]="['/']"  class="button-signup">Cancel</a>
    </form>
    <p>
      <span>Already have an account?&nbsp;</span>
      <a [routerLink]="['/log-in']">Log in!</a>
    </p>
</div>