<!-- <div class="row">
    <div class="col-md-4">
  
      <h1>Angular + NGRX</h1>
      <hr><br>
  
      <div *ngIf="isAuthenticated; then doSomething; else doSomethingElse;"></div>
      <ng-template #doSomething>
        <p>You logged in <em>{{user.email}}!</em></p>
        <button class="btn btn-primary" (click)="logOut()">Log out</button>
      </ng-template>
      <ng-template #doSomethingElse>
        <a [routerLink]="['/log-in']" class="btn btn-primary">Log in</a>
        <a [routerLink]="['/sign-up']" class="btn btn-primary">Sign up</a>
      </ng-template>
  
    </div>
  </div>
   -->
   <div class="grid-container" *ngFor="let item of movies">
    <div class="grid-item">
     <div class="texts">
      <h6><span style="color:white">1111111</span>Title:  {{ item.title }}</h6>
      <h6><span style="color:white">11</span>Category: {{ item.category }}</h6>
      <h6>Description: {{ item.description }}</h6>
    </div>
      <div class="buttons">
        <button (click)="toggle()">    {{buttonName}}
        </button> &nbsp;
        <button>Delete</button>
      </div>
    </div>
    <div class="grid-item" *ngIf="show">
      <ng-container >
        <form>
          <label for="title" class="title">Title</label>
          <input id="title" type="text">
       
          <label for="category" class="category">Category</label>
          <input id="category" type="text">
    
          <button style="float: right;">Save</button>
       
          <!-- more inputs -->
      </form>
    </ng-container>
    </div>
  </div>

