
   <ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" routerLink="/create-movies" routerLinkActive="active">Create Movies</a>
      </li>
  </ul>
  <a class="home" routerLink="/home">Movies</a>

   <div class="grid-container" *ngFor="let item of movies">
    <div class="grid-item">
     <div class="texts">
      <h6>Title:  {{ item.title }}</h6>
      <h6>Category: {{ item.category }}</h6>
      <h6>Description: {{ item.description }}</h6>
    </div>
      <div class="buttons">
        <button (click)="toggle()">    {{buttonName}}
        </button> &nbsp;
        <button>Delete</button>
      </div>
    </div>
    <div class="grid-item" *ngIf="show">
      <ng-container >
        <form>
          <label for="title" class="title">Title</label>
          <input id="title" type="text">
       
          <label for="category" class="category">Category</label>
          <input id="category" type="text">
    
          <button style="float: right;">Save</button>
       
      </form>
    </ng-container>
    </div>
  </div>

