.item1 { grid-area: header; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header';
    padding: 10px;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

 